.mandolin-tab {
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
}

.mandolin-tab[aria-selected="true"] {
  opacity: 1;
}

.mandolin-tab[aria-selected="false"] {
  opacity: 0.6;
}

.mandolin-tab:hover {
  opacity: 1;
}

.mandolin-panel {
  --list-columns: 4;
  display: grid;
  grid-gap: var(--ug-spacing-xs) 1px;
  gap: var(--ug-spacing-xs) 1px;
  grid-template-columns: repeat(var(--list-columns),minmax(auto,1fr));
  overflow: hidden;
  width: calc(var(--ug-text-tab-aside-width) - var(--ug-spacing-xs) - 15px);
}

.mandolin-chord-section {
  margin-bottom: 16px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.mandolin-chord-name {
  display: block;
  font-weight: 700;
  font-size: 14px;
  align-self: center;
/*  color: var(--color-text-primary, #fff);*/
  font: var(--ug-font-mono-m-semibold);
  line-height: calc(1em+4px)
}

.mandolin-diagrams {
  display: flex;
  gap: 4px;
  scroll-snap-type: x mandatory;
  overflow-y: hidden;
  width: 71px;
  flex-flow: row nowrap;
  scrollbar-width: thin;
  scroll-snap-stop: always;
}

.mandolin-canvas {
  width: 71px;
  height: 93px;
  scroll-snap-align: center;
}

.mandolin-no-chords {
  color: var(--color-text-secondary, #999);
  font-size: 13px;
  padding: 12px 0;
}
